@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  width: 100vw;
  height: 100vh;
  padding: 0 2vw;
  @apply flex flex-col items-center;
  @apply text-black bg-white;
}

#root {
  @apply w-full max-w-screen-2xl
}

@tailwind base;
@tailwind components;
@tailwind utilities;