@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-bg: white;
  --color-txt: black;
  --color-hover: #eeebeb;
  --color-accent: #bfff00;
  --color-border: #e4e4e4;
  @apply bg-white;
}

html.dark {
  --color-bg: black;
  --color-txt: white;
  --color-hover: #797979;
  --color-accent: rgb(223, 15, 15);
  --color-border: #393838;
  @apply bg-black
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  width: 100%;
  height: 100vh;
  padding: 0 2vw;
  @apply flex flex-col items-center;
}

#root {
  @apply w-full max-w-screen-2xl
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(223, 15, 15);
  border-radius: 1rem;
  border: 2px solid var(--color-hover);
  border-style: double;
}